<%- include('./partials/header');%>
<form method="post" action="/product/add" enctype="multipart/form-data">
  <div class="form-group">
    <label for="user">Tên sản phẩm</label>
    <input
      value="<%= name %>"
      name="name"
      type="text"
      class="form-control"
      id="name"
      placeholder="Nhập tên sản phẩm"
    />
  </div>
  <div class="form-group">
    <label for="desc">Miêu tả sản phẩm</label>
    <textarea class="form-control" name="desc" id="desc" rows="3"><%= desc %></textarea>
  </div>
  <div class="form-group">
    <label for="desc">Thành phần</label>
    <textarea
      class="form-control"
      name="ingredient"
      id="ingredient"
      rows="3"
    ><%= ingredient %></textarea>
  </div>
  <div class="form-group">
    <label for="brand">Thương hiệu</label>
    <input
    value="<%= brand %>"
      name="brand"
      type="text"
      class="form-control"
      id="brand"
      placeholder="Nhập tên thương hiệu"
    />
  </div>
  <div class="form-group">
    <label for="brand">Danh mục</label>
    <input
    value="<%= category %>"
      name="category"
      type="text"
      class="form-control"
      id="brand"
      placeholder="Danh mục"
    />
  </div>

  <div class="form-group">
    <div id="first-volume">
      <!-- row of each -->
      <div class="clone-volume">
        <div class="row">
          <div class="col-sm-5">
            <input
              value="<%= volume %>"
              name="volume"
              type="number"
              class="form-control"
              id="volume"
              placeholder="Dung tích"
            />
          </div>
          <select name="volume_unit" class="col form-control">
            <option selected value="ml">ml</option>
            <option value="g">g</option>
          </select>
          <div class="col-sm-5">
            <input
              value="<%= price %>"
              name="price"
              type="number"
              class="form-control"
              id="price"
              placeholder="Giá bán"
            />
          </div>
        </div>

        <hr />
      </div>
      <!-- row of each -->
    </div>
  </div>
  <!-- add volume -->
  <div class="form-group">
    <div id="dynamic-volume" name=""></div>
  </div>
  <!-- add volume -->
  <div class="form-group">
    <a class="btn btn-primary form-control col-5 m-2" onclick="addVolume()">
      Thêm dung tích
    </a>
    <a class="btn btn-danger form-control col-5 m-2" onclick="removeVolume()">
      Xóa dung tích
    </a>
  </div>
  <div class="form-group">
    <label for="img">Example file input</label>
    <input name="img" type="file" class="form-control-file" id="img" />
  </div>
  <div class="form-group">
    <%if(error.length > 0){%>
      <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= error %>
      </div>
    <%}%>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('./partials/footer');%>
