<%- include('./partials/header');%>
<form method="POST" action="/user/edit">
  <div class="form-group">
    <label for="user">ID người dùng</label>
    <input
      readonly
      value="<%= edit_user.id %>"
      name="id"
      type="text"
      class="form-control"
      
    />
  </div>
  <div class="form-group">
    <label for="user">Tên người dùng</label>
    <input
      value="<%= edit_user.name %>"
      name="name"
      type="text"
      class="form-control"
      
      placeholder="Nhập tên sản phẩm"
    />
  </div>
  <div class="form-group">
    <label for="user">Email người dùng</label>
    <input
      value="<%= edit_user.email %>"
      name="email"
      type="text"
      class="form-control"
     
      placeholder="Nhập email người dùng"
    />
  </div>
  <div class="form-group">
    <label for="user">Vai trò người dùng</label>
    <input
      readonly
      value="<%= edit_user.role %>"
      name="role"
      type="text"
      class="form-control"
    
      placeholder="Nhập vai trò người dùng"
    />
  </div>
  <div class="form-group">
    <label for="user">Số điện thoại</label>
    <input
      value="<%= edit_user.phone %>"
      name="phone"
      type="text"
      class="form-control"

      placeholder="Nhập số điện thoại người dùng"
    />
  </div>
 

  <div class="form-group">
  <button id="edit_user" type="submit" class=" btn btn-primary">Update</button>
</form>
<%- include('./partials/footer');%>
