<%- include('./partials/header');%>

<h1>Các lô sản phẩm sắp hết hạn</h1>

<!-- Page Heading -->
<h5 class="text text-danger">Có <strong> <%=count%> </strong>  lô sản phẩm còn hạn sử dụng trong vòng 6 tháng</h5>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Mã lô</th>
            <th>Mã sản phẩm</th>
            <th>Ngày nhập</th>
            <th>Ngày hết hạn</th>
            <th>Ngày sản xuất</th>
            <th>Số lượng</th>
            <th>Giá nhập</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <%if(package_exp){%> <%package_exp.forEach((package) => {%>
          <tr>
            <td><%= package.id%></td>
            <td><%= package.product_id%></td>
            <td><%= package.created_at%></td>
            <td><%= package.mfg_date%></td>
            <td><%= package.exp_date%></td>
            <td><%= package.quantity%></td>
            <td><%= package.price_import%> VNĐ</td>
            <td>
              <a class="btn btn-danger m-1" href="#"
                >Xóa</a
              >
            </td>
          </tr>
          <%});%> <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('./partials/footer');%>