<%- include('./partials/header');%>

<h1>Trang lô sản phẩm</h1>
<a class="btn btn-success m-2 btn-sm" href="/package/add">Thêm lô sản phẩm</a>

<%if(success.length > 0){%>
  <div class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= success %>
  </div>
  
  <%}%> <%if(error.length > 0){%>
  <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= error %>
  </div>
  
  <%}%>
<!-- Page Heading -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Mã lô</th>
            <th>Mã sản phẩm</th>
            <th>Ngày nhập</th>
            <th>Ngày sản xuất</th>
            <th>Ngày hết hạn</th>
            <th>Số lượng</th>
            <th>Giá nhập</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          <%if(packageList){%> <%packageList.forEach((package) => {%>
          <tr>
            <td><%= package.id%></td>
            <td><%= package.product_id%></td>
            <td><%= package.created_at%></td>
            <td><%= package.mfg_date%></td>
            <td><%= package.exp_date%></td>
            <td><%= package.quantity%></td>
            <td><%= package.price_import%> VNĐ</td>
            <td>
              <a
                  class="delete-package btn btn-danger m-1"
                  href="#"
                  data-id="<%= package.id %>"
                  >Xóa</a
                >
                <a class="btn btn-warning m-1" href="package/edit/<%=package.id%>"
                  >Sửa</a
                >
            </td>
          </tr>
          <%});%> <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('./partials/footer');%>